GITEA__database__DB_TYPE=mysql
GITEA__database__HOST=db:3306
GITEA__database__NAME=gitea
GITEA__database__USER=gitea
GITEA__database__PASSWD=password
GITEA__repository__DEFAULT_BRANCH=master
VIRTUAL_HOST=git.example.com
VIRTUAL_PORT=3000
LETSENCRYPT_HOST=git.example.com
LETSENCRYPT_EMAIL=user@example.com
DOMAIN=git.example.com
SSH_DOMAIN=git.example.com
ROOT_URL=https://git.example.com
SSH_PORT=2222
SSH_LISTEN_PORT=2222
